/* General */
body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e; 
  color: #f5f5f5; 
  margin: 0;
  padding: 0;
}

.app {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Filters */
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.filters input,
.filters select,
.filters button {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #2c2c2c;
  color: #f5f5f5;
}

.filters input:focus,
.filters select:focus {
  outline: none;
  border-color: #f43f5e;
}

.filters button {
  background-color: #f43f5e; 
  color: #fff;
  border: none;
  cursor: pointer;
}

.filters button:hover {
  background-color: #df3854; 
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

/* Product Card */
.product-card {
  border: 1px solid #333;
  border-radius: 8px;
  padding: 15px;
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.1s ease;
}

.product-card:hover {
  box-shadow: 0 2px 3px rgb(73, 73, 73);
}

.product-card h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.product-card p {
  margin: 5px 0;
}

.product-card button {
  padding: 8px 12px;
  background-color: #f43f5e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  
}

.product-card button:hover:not(:disabled) {
  background-color: #df3854;
}

.product-card button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

/* Stock colors */
.in-stock {
  color: #34d399; /* green */
}

.out-stock {
  color: #f87171; /* red */
}

/* Cart */
.cart {
  border: 1px solid #333;
  border-radius: 8px;
  padding: 15px;
  margin-top: 30px;
  background-color: #2c2c2c;
}

.cart h2 {
  margin-bottom: 15px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #444;
}

.cart-item:last-child {
  border-bottom: none;
}

/* Quantity controls */
.qty-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.qty-controls button {
  padding: 4px 8px;
  border: 1px solid #444;
  border-radius: 4px;
  background: #2c2c2c;
  color: #f5f5f5;
  cursor: pointer;
}

.qty-controls span {
  min-width: 20px;
  text-align: center;
}

/* Remove button */
.cart-item button.remove-btn {
  padding: 4px 10px;
  background-color: #f43f5e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-item button.remove-btn:hover {
  background-color: #df3854;
}

p {
  text-align: center;
  font-style: italic;
  color: #aaa;
}
